.btn {
  position: relative;
  padding: 12px 40px;
  font-size: 1.05em;
  border-radius: 40px;
  background-color: #85c1e9;
  color: #3498db;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: 0.5s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn span {
  position: absolute;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  background-color: #aed6f1;
  opacity: 0.2;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 350px;
    height: 350px;
  }
}
